@import './theme.styl'
.header
  background-color $color__primary
  padding 10px 0
  &__inner
    width 1200px
    max-width 100%
    margin-left auto
    margin-right auto
  a
    color #fff
    display inline-block
    padding 0 15px
    min-width 60px
    line-height 40px
    font-size 14px
    text-align center
    &:hover
      background-color #ccc
  &-foot
    a:hover
      background-color #666
.logo
  width 100px
  height 40px
  background-color #ff7a00
.nav
  flex 1
  &__item
    a
      &:hover
        background-color #ccc